@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/styles/font/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #AE3E74, #4B0082);
    z-index: -1;
}