<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/login.css"/>
    <title>VolLove Авторизация администратора</title>
</head>
<body>
    <div class="background"></div>
    
    <div class="authForm">
        <h1>Авторизация</h1>
        <input id="loginInput" placeholder="Логин"/>
        <input id="passwordInput" placeholder="Пароль" type="password"/>
        <button class="authButton">Войти</button>
    </div>
    <script type="module" src="/scripts/login.js"></script>
</body>
</html>